<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>
        html {
            font-family: Helvetica, sans-serif;
        }

        .header {
            background-color: #3DC371;
            color: #fff;
            text-align: center;
            padding: 1.8em 0;
            margin-bottom: 1em;
            line-height: 1.5;
        }
        .title {
            font-size: 1.8em;
        }
        .subtitle {
            font-size: 1.2em;
        }
        .tictaclink {
            background-color: #FF6E50;
            padding: 10px 20px;
            margin-right: 20px;
            color: #fff;
            font-size: 14px;
        }

        table {
            border-spacing: 0;
            width: 100%;
            max-width: 375px;
        }
        th {
            font-weight: normal;
            color: #666;
        }
        tr {
            font-size: 12px;
            height: 36px;
            color: #fff;
        }
        .row {
            color: #fff;
            width: 100%;
            max-width: 360px;
        }
        .date {
            padding: 10px 10px;
            border-bottom: 1px solid #fff;
            text-align: center;
        }
        .projects {
            padding: 10px 10px;
            border-bottom: 1px solid #fff;
            line-height: 1.5;
            min-width: 200px;
        }
        .divider {
            height: 18px;
        }

        .hours-project {
            background-color: #3DC371;
            float: left;
        }
        .hours-normal {
            background-color: #eee;
        }
        .hours-normal td {
            position: relative;
            padding: 0;
        }
        .hours-project-number {
            padding: 10px;
            display: inline-block;
        }
        .hours-normal-number {
            position: absolute;
            right: 0;
            top: 0;
            padding: 10px;
            color: #666;
        }

        .whole {
            background-color: #3DC371;
        }
        .half {
            background-color: #fff;
        }
        .weekend {
            color: #666;
            background-color: #eee;
        }
        .holiday {
            background-color: #F57F1F;
        }
        .outofrange {
            color: #666;
            background-color: #eee;
        }

        .absence {
            background-color: #FFCC50;
        }
/*
 purple: 6240B4;
 blue: 4A5CBA;
 red: FF6E50;
 yellow: FFCC50;
*/

    </style>
</head>
<body>

<div class="header">
    <div class="title">It's Friday <b>{{user.firstName}}</b>!</div>
    <div class="subtitle">Is your time report updated?</div>
</div>

{{#if team}}
    <p><b>What we did:</b> {{{team}}}</p>
    <p><b>What you did, in detail:</b></p>
{{/if}}

<table>
{{#each calendar}}
    {{#each this}}
    <tr class="row {{this.type}} {{#each this.user.projects}}{{slug}}{{/each}}">
        <td class="date">{{formatDate this.date "ddd D/M"}}</td>
        <td class="projects">
        {{#each this.user.projects}}
            <div>
                {{shortname}}
                {{hours}}h
            </div>
        {{/each}}
        {{#if_eq this.type "holiday"}}
            <div>Holiday</div>
        {{/if_eq}}
        </td>
    </tr>
    {{/each}}
    <tr class="divider"><td colspan="2"></td></tr>
    <tr class="hours-normal">
        <td colspan="2">
            <div style="width: {{percent ../stats.totalHours ../stats.totalNormal}}" class="hours-project">
                <span class="hours-project-number">{{../stats.totalHours}}h</span>
            </div>
            <span class="hours-normal-number">{{../stats.totalNormal}}h</span>
        </td>
    </tr>
{{/each}}
</table>

<p>Make sure your time report is updated!</p>

<p>
    <a class="tictaclink" href="http://www.tictacmobile.com/login">Tictac Desktop</a>
    <a class="tictaclink" href="https://www.tictacmobile.com/mobile/">Tictac Mobile</a>
</p>

</body>
</html>
