<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <style>
        html {
            font-family: Helvetica, sans-serif;
        }
        th {
            font-weight: normal;
            color: #666;
        }
        .date {
            font-size: 12px;
            text-align: center;
            height: 36px;
            border: 2px solid #fff;
        }
        .whole {
            color: #fff;
            background-color: #3DC371;
            border: 2px solid #3DC371;
        }
        .half {
            background-color: #fff;
            border: 2px solid #3DC371;
        }
        .weekend {
            color: #666;
            border: 2px solid #F7F7F7;
        }
        .holiday {
            color: #F57F1F;
            background-color: #F57F1F;
            border: 2px solid #F57F1F;
        }
        .outofrange {
            color: #666;
            background-color: #F7F7F7;
            border: 2px solid #F7F7F7;
        }
/*
 purple: 6240B4;
 blue: 4A5CBA;
 red: FF6E50;
 yellow: FFCC50;
*/
        .absence {

        }
    </style>
</head>
<body>

<p>Hello {{user.firstName}}, this is your week!</p>

<table>
<thead>
{{#each this.weekdays}}
    <th>{{this}}</th>
{{/each}}
</thead>
{{#each calendar}}
    {{#each this}}
    <tr class="date {{this.type}} {{#each this.user.projects}}{{slug}}{{/each}}">
        <td>{{this.day}}</td>
        <td>
        {{#each this.user.projects}}
            <div>{{slug}} {{hours}}</div>
        {{/each}}
        </td>
    </tr>
    {{/each}}
{{/each}}
</table>

</body>
</html>
